body {
    font-family: 'Poppins', sans-serif;
    /* padding: 0 1rem 1rem; */
    align-items: center;
    min-width: 300px;
    padding: 1rem;
}

#field-url {
    text-decoration: underline;
}

.title-text {
    font-size: 0.8rem;
}

.small-text {
    font-size: 0.6rem
}
